@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Lato&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat+Alternates&family=Titan+One&display=swap");

:root {
  --heading-font-family: "Titan One", cursive;
  --paragraph-font-family: "Cabin", sans-serif;
  --subparagraph-font-family: "Montserrat Alternates", sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #ecc4c4;
  --third-color: #8d5d5d;
}

body {
  background-image: url("images/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  color: var(--primary-color);
}
img {
  width: 60px;
  float: right;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 35%;
}

h2 {
  font-family: var(--paragraph-font-family);
  font-size: 20px;
  color: var(--primary-color);
}
form {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  font-weight: lighter;
  color: #c5b9b9;
  word-spacing: 8px;
  letter-spacing: 2px;
}
li {
  list-style: none;

  text-align: justify;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-left: 180px;
  line-height: 22px;
  font-size: 14px;
  font-family: var(--paragraph-font-family);
}
footer a {
  color: white;
}
footer a:hover {
  color: #c5b9b9;
}

input[type="text"] {
  border: 1px solid white;
  color: var(--primary-color);
  font-family: var(--subparagraph-font-family);
  border-radius: 15px;
  margin: 0 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
}

input[type="submit"] {
  border: 1px solid var(--third-color);
  border-radius: 15px;
  margin: 0 5px;
  padding: 7px;
  width: 90px;

  background-color: rgb(236, 196, 196, 0.8);
  color: black;

  transition: all 400ms ease-in-out;

  font-family: var(--subparagraph-font-family);
}

input[type="submit"]:hover {
  background-color: rgb(141, 93, 93, 0.9);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}
button {
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  margin: 0 5px;
  padding: 7px;
  background-color: rgb(141, 93, 93, 0.9);
  color: var(--primary-color);
  font-family: var(--subparagraph-font-family);

  transition: all 400ms ease-in-out;
}

button:hover {
  background-color: rgb(236, 196, 196, 0.8);
  color: black;
  border: 1px solid var(--third-color);
}
footer p a {
  font-size: 10px;
  text-decoration: none;
}
.container_hero {
  height: auto;
  border-radius: 20px;
backdrop-filter: blur(2px);
  background: linear-gradient(hsla(0, 0%, 50.2%, 0.3), rgba(41, 40, 40, 0.2));
  box-shadow: 4px -6px 10px 2px hsl(0deg 0% 87% / 40%);
}

.city_navigation a {
  font-family: var(--paragraph-font-family);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.city_navigation a:hover {
  color: var(--primary-color);
}

.container {
  margin: 80px auto;
  width: 900px;
}

.city_navigation {
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

.humidity,
.wind {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 2px;
}
.weather_data {
  margin-top: 80px;
  color: var(--primary-color);
}

.weather_days {
  margin-left: 50px;
}
.weather-forecast-date {
  font-size: 22px;
  text-align: center;
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
}
.forecast-icon {
  width: 45px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 35%;
}
.weather-forecast-temperature {
  font-size: 19px;
  margin-left: 10px;
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
}
.weather_forecast {
  padding: 10px;
  margin-top: 100px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  background: linear-gradient(hsla(0, 0%, 50.2%, 0.3), rgba(41, 40, 40, 0.2));
  box-shadow: 1px -4px 15px 1px hsl(0deg 0% 87% / 40%);
}

.degree {
  font-family: var(--paragraph-font-family);
  font-size: 50px;
  color: var(--primary-color);
}

#celsius-temperature {
  text-decoration: none;
  font-family: var(--paragraph-font-family);
  font-size: 20px;
  vertical-align: top;
  color: var(--primary-color);
}
#search-form {
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  li {
    margin: 0px;
    text-align: center;
    font-size: 13px;
    line-height: normal;
  }
  img {
    float: none;
  }
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h2 {
    font-size: 16px;
    text-align: center;
  }
  input[type="text"] {
    margin: 0px;
    padding: 2px;
    width: 150px;
  }
  input[type="submit"] {
    padding: 3px;
    margin: 0px;
    font-size: 15px;
  }
  button {
    display: none;
  }
  .container {
    width: 350px;
    margin-top: 20px;
  }
  .container_hero {
    background: linear-gradient(rgb(128, 128, 128, 0.4), rgb(41, 40, 40, 0.9));
  }
  .weather_data {
    margin-top: 20px;
  }
  .weather_forecast {
    box-shadow: none;
  }
  .forecast {
    width: 350px;
  }
  .forecast_first {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .weather-forecast-date {
    font-size: 18px;
  }
  .forecast-icon {
    width: 30px;
    height: 30px;
  }
  #celsius {
    text-align: center;
  }
  #search-form {
    padding-bottom: 20px;
  }
}
