@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,100&family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 3px;
}
form {
  text-align: center;
  margin-top: 100px;
}

input[type="text"] {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 0 10px;
  padding: 5px;
}

input[type="submit"] {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 0 5px;
  padding: 7px;
  width: 90px;
}
button {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 0 5px;
  padding: 7px;
  width: 90px;
}
hr {
  color: grey;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  padding: 1px;
}

img {
  width: 70px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  font-weight: lighter;
  color: darkgray;
  word-spacing: 8px;
  letter-spacing: 2px;
}
li {
  list-style: none;

  text-align: justify;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-left: 225px;
  font-size: 14px;
}
.container {
  max-width: 600px;
  height: auto;
  border: 1px solid grey;
  border-radius: 40px;
  margin: 5px auto;
}

.city_navigation {
  padding: 20px 20px;
  margin: 8px;
  font-size: 20px;
  letter-spacing: 8px;
}

.humidity,
.wind {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 2px;
}
.weather_data {
  margin-top: 5px;
}

.forecast {
  border: 1px solid grey;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.weather_days {
  margin-left: 50px;
}
.forecast_day {
  font-size: 20px;
  text-align: center;
}
.units {
  font-size: 12px;
  display: block;
  text-align: center;
}

.degree {
  display: block;
  text-align: center;
  margin-top: 20px;
}
#celsius {
  color: black;
  font-size: 55px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 50px auto;
  max-width: 150px;
  height: 150px;
  letter-spacing: 5px;
}
.units,
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.units,
.active:hover {
  text-decoration: none;
}
